<h1>Drag and Drop Table Example</h1>

<table cdkDropList (cdkDropListDropped)="drop($event)">

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of items" cdkDrag>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
    </tr>
  </tbody>
</table>
<br>
<br>

<h1>forms Demo</h1>

<br><br>

<!-- user-form.component.html -->

<h2>User Form</h2>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <select id="name" name="name" [(ngModel)]="selectedName" required>
      <option *ngFor="let item of items" [value]="item.name">{{item.name}}</option>
    </select>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
  </div>
  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>

